@import url('normalize.css');
@font-face {
	font-family:'RaphaelIcons';
    src: url('raphaelicons-webfont.eot');
    src: local('☺'), 
		url('fonts/raphaelicons-webfont.woff') format('woff'), 
		url('fonts/raphaelicons-webfont.ttf') format('truetype'), 
		url('fonts/raphaelicons-webfont.svgwebfontKOf9F4sx') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* General Demo Style */
body{
	font-family: Georgia, serif;
	background: #ddd;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}
a{
	color: #555;
	text-decoration: none;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 9px;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #888;
	display: inline-block;
	text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
@media screen and (max-width: 520px) {
	.codrops-top { display: none; }
}



#animacaodoh2 {
  animation-duration: 2s;
  animation-name: slidein;
  margin-top: 100px;
  animation-delay: 14s;
 
}

#animacaoIcon{
  animation-duration:3s;
  animation-name: slideoff;
  top: 500px;
  animation-delay: 14s;
}

#animacaoIcon1{
  animation-duration:3s;
  animation-name: slideoff;
  top: 500px;
  animation-delay: 14s;
}

#animacaoIcon2{
  animation-duration:2s;
  animation-name: slideoff;
  top: 500px;
  animation-delay: 14s;
}

#animacaoText1{
  animation-duration: 2s;
  animation-name: textA;
  top:150px;
  left:4%;
  animation-delay: 14s;

}

#animacaoText2{
  animation-duration: 2s;
  animation-name: textA;
  top:190px;
  left:4%;
  animation-delay: 14s;

}

#animacaoText3{
  animation-duration: 2s;
  animation-name: textA;
  top:230px;
  left:4%;
  animation-delay: 14s;

}

#animacaoText4{
  animation-duration: 2s;
  animation-name: textA;
  top:270px;
  left:4%;
  animation-delay: 14s;

}

.alinharx{
   color:#fff;
   font-size: 50px;
   left: 50px;
}

.alinhar2{
   color: #fff;
   font-size: 40px;
   left: 10%;
   top: 280px;
}

.alinhar3{
   color: #fff;
   font-size: 40px;
   left: 10%;
   top: 320px;
}

.alinhar4{
   color: #fff;
   font-size: 40px;
   left: 10%;
   top: 360px;
}

.alinhar5{
   color: #fff;
   font-size: 40px;
   left: 10%;
   top: 400px;
}

.posicaoimg1{
  position: absolute;
  top: 600px;
  left:80px;
}

.posicaoimg2{
  position: absolute;
  left: 280px;
  top: 600px;
}

.posicaoimg3{
  position: absolute;
  top: 600px;
  left: 480px;
}

.posicaoimg4{
  position: absolute;
  top: 600px;
  left:680px;
}

.posicaoimg5{
  position: absolute;
  top: 600px;
  left: 880px;
}

.posicaoimg6{
  position: absolute;
  top: 600px;
  left: 1080px;
}

@keyframes textA{
    0%{
      left : 100%;
    }
    
    100%{
      left: 4%;
    }
  
}



@keyframes slideoff{
   0%{
       top: -100px; 
      }
   
   100%{
     top: 500px;
   }
 

}
 
@keyframes slidein {
  0%{
      margin-top : 100%;
   }
   
  100%{
      margin-top: 100px;
   }
}

#animacaodoh4{
 animation-duration: 2s;
  animation-name: slidein1;
  bottom:10%;
  animation-delay: 6s;
  margin-left:500px;
}

#animacaodoh5{
   animation-duration: 2s;
  animation-name: slidein;
  margin-top: 100px;
  animation-delay: 6s;
  animation-timing-function:linear;
}


@keyframes slidein1 {
  0%{
      margin-bottom:100%;
   }
   
  100%{
      bottom:10%;
   }
  
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	
	overflow-x: hidden;
}
.ie7 body{
	overflow:hidden;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.container > header{
	padding: 30px 30px 10px 20px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}
.container > header h1{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 35px;
	line-height: 35px;
	position: absolute;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}
.container > header h1 span{

}
.container > header h2, p.info{
	font-size: 16px;
	font-style: italic;
	color: #f8f8f8;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
/* Header Style */
.codrops-top{
	font-family: Arial, sans-serif;
	line-height: 24px;
	font-size: 11px;
	width: 100%;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #ddd;
	display: block;
	float: left;
}
.codrops-top a:hover{
	color: #fff;
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: none;
	display: inline;
}

p.codrops-demos{
	display: block;
	padding: 15px 0px;
}
p.codrops-demos a,
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
    display: inline-block;
	border: 1px solid #6d0019;
	padding: 4px 10px 3px;
	font-size: 13px;
	line-height: 18px;
	margin: 2px 3px;
	font-weight: 800;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #a90329;
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
}
p.codrops-demos a:hover{
	background: #6d0019;
}
p.codrops-demos a:active{
	background: #6d0019;
	background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d0019), color-stop(56%,#8f0222), color-stop(100%,#a90329));
	background: -webkit-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
	background: -o-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
	background: -ms-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
	background: linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
	-webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
	-moz-box-shadow:0px 1px 1px rgba(255,255,255,0.9);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
}
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
	color: #A5727D;
	background: #6d0019;
}
/* Media Queries */
@media screen and (max-width: 767px) {
	.container > header{
		text-align: center;
	}
	p.codrops-demos {
		position: relative;
		top: auto;
		left: auto;
	}
}



